@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/robotocondensed-400.woff2") format("woff2"),
    url("../fonts/robotocondensed-400.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/robotocondensed-700.woff2") format("woff2"),
    url("../fonts/robotocondensed-700.woff") format("woff");
}

@font-face {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptmono-400.woff2") format("woff2"),
    url("../fonts/ptmono-400.woff") format("woff");
}
