
/// colors

$dark: #1b2d37;
$white: #ffffff;
$main-alt: #00b2ff;
$main: #666666;


/// fonts

$font-main: "PT Mono", "Courier", monospace;
$font-accent: "Roboto Condensed", "Arial", sans-serif;

/// views

$desktop: 1023px;
$tablet: 767px;
$mobile: 320px;
